<div class="mt-8">
	<h2 class="text-3xl font-bold text-black" translate translate-key="who-am-i">
		About me
	</h2>
	<p class="mt-4 text-base" translate translate-key="who-am-i-text">
		I usually define myself as a calm programmer residing in Mollet del Vallès,
		Barcelona. I love music
		<i
			>(right now, especially Arctic Monkeys, AJR, and some other indie
			singers)</i
		>
		and I don't seek much more than building whatever my not-so-creative mind
		comes up with. I like cats, debates, and gossip. My birthday is on the 23rd
		of June.
	</p>
</div>
