<div class="mt-8">
	<h2 class="text-3xl font-bold text-black" translate translate-key="projects">
		Dev projects
	</h2>
	<div class="mt-2" translate translate-key="projects-text">
		<p
			class="fade-in mt-4 text-base text-gray-500"
			translate
			translate-key="projects-text"
		>
			For now, I have only built dumb pages (<a
				href="https://stfu.now.sh"
				class="hover:bg-indigo-500 text-blue-400"
				>stfu</a
			>,
			<a
				href="https://practice-binary.now.sh"
				class="hover:bg-indigo-500 text-blue-400"
				>practice-binary</a
			>), libraries (<a
				href="https://github.com/Brian3647/encoped"
				class="hover:bg-indigo-500 text-blue-400"
				>encoped</a
			>,
			<a
				href="https://github.com/Brian3647/http"
				class="hover:bg-indigo-500 text-blue-400"
				>http</a
			>) & nearly useless CLIs (<a
				href="https://github.com/Brian3647/nto"
				class="hover:bg-indigo-500 text-blue-400"
				>nto</a
			>,
			<a
				href="https://github.com/Brian3647/todo-rs"
				class="hover:bg-indigo-500 text-blue-400"
				>todo-rs</a
			>). All of my old projects can be found at
			<a
				href="https://github.com/Brian3647/"
				class="hover:bg-indigo-500 text-blue-400"
				>my github</a
			>
		</p>
	</div>
</div>
