@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=JetBrains+Mono&family=Tilt+Warp&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in {
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.fade-in.active {
	opacity: 1;
}

.size-70 {
	height:70%;
	width:70%;
}
