<!--
yes, its a coming soon template. sorry. im a back end dev.

Coming Soon Page template
Created by Surjith S M and changed by Brian3647
original template can be found @ https://web3templates.com
-->

<div class="relative overflow-hidden font-mono">
	<div
		class="bg-white pt-1 pb-10 sm:pt-16 lg:overflow-hidden lg:pt-10 lg:pb-24"
	>
		<div class="mx-auto max-w-7xl lg:px-8">
			<div class="lg:grid lg:grid-cols-2 lg:gap-8">
				<div
					class="mx-auto max-w-md px-4 text-center sm:max-w-2xl sm:px-6 lg:flex lg:items-center lg:px-0 lg:text-left"
				>
					<div class="lg:py-12">
						<h1
							class="mt-1 lg:text-5xl font-bold tracking-tight text-black sm:mt-5 sm:text-4xl lg:mt-6 xl:text-6xl"
						>
							<span
								class="block text-indigo-600"
								translate
								translate-key="portfolio"
								>Portfolio</span
							><span
								class="block text-black text-6xl sm:text-7xl xl:text-7xl"
								>Víctor Ibáñez
							</span>
						</h1>
						<br class="md:hidden">
						<a
							href="/projects.html"
							class="hover:bg-indigo-500 text-blue-400"
							translate
							translate-key="projects-link"
						>projects &rarr;</a>
						<br>
						<a
							href="/about.html"
							class="hover:bg-indigo-500 text-blue-400"
							translate
							translate-key="aboutme-link"
						>about me &rarr;</a>
						{{ templates::footer }}
					</div>
				</div>
				<div class="mt-10 lg:flex lg:items-center block">
					<img
						class="lg:mx-0 sm:mx-10"
						src="./cat.jpg"
						alt="lmao the photo didn't load for you big skill issue"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
