<!--
yes, its a coming soon template. sorry. im a back end dev.

Coming Soon Page template
Created by Surjith S M and changed by Brian3647
original template can be found @ https://web3templates.com
-->

<div class="relative overflow-hidden font-mono">
	<div
		class="bg-white pt-1 pb-10 sm:pt-16 lg:overflow-hidden lg:pt-10 lg:pb-24"
	>
		<div class="mx-auto max-w-7xl lg:px-8">
			<div class="lg:grid lg:grid-cols-2 lg:gap-8">
				<div
					class="mx-auto max-w-md px-4 text-center sm:max-w-2xl sm:px-6 lg:flex lg:items-center lg:px-0 lg:text-left"
				>
					<div class="lg:py-12">
						<h1
							class="mt-1 lg:text-5xl font-bold tracking-tight text-black sm:mt-5 sm:text-4xl lg:mt-6 xl:text-6xl"
						>
							<span
								class="block text-indigo-600 fade-in"
								>Víctor Ibáñez</span
							><span
								class="block text-black text-6xl sm:text-7xl xl:text-7xl fade-in"
								translate
								translate-key="projects">Dev Projects
								<br />
							</span>
						</h1>
						<div class="mt-2" translate translate-key="projects-text">
							<div class="mt-8">
								<p
									class="fade-in mt-4 text-base text-gray-500"
									translate
									translate-key="projects-text"
								>
									For now, I have only built dumb pages (<a
										href="https://stfu.now.sh"
										class="hover:bg-indigo-500 text-blue-400"
										>stfu</a
									>,
									<a
										href="https://practice-binary.now.sh"
										class="hover:bg-indigo-500 text-blue-400"
										>practice-binary</a
									>), libraries (<a
										href="https://github.com/Brian3647/encoped"
										class="hover:bg-indigo-500 text-blue-400"
										>encoped</a
									>,
									<a
										href="https://github.com/Brian3647/http"
										class="hover:bg-indigo-500 text-blue-400"
										>http</a
									>) & nearly useless CLIs (<a
										href="https://github.com/Brian3647/nto"
										class="hover:bg-indigo-500 text-blue-400"
										>nto</a
									>,
									<a
										href="https://github.com/Brian3647/todo-rs"
										class="hover:bg-indigo-500 text-blue-400"
										>todo-rs</a
									>). All of my old projects can be found at
									<a
										href="https://github.com/Brian3647/"
										class="hover:bg-indigo-500 text-blue-400"
										>my github</a
									>
								</p>
							</div>
						</div>
						<a
							href="/"
							class="hover:bg-indigo-500 text-blue-400"
							translate
							translate-key="home-link"
						>home &rarr;</a>
						{{ templates::footer }}
					</div>
				</div>
				<div class="mt-10 lg:flex lg:items-center hidden">
					<img
						class="mx-auto lg:mx-0"
						src="./cat.jpg"
						alt="lmao the photo didn't load for you big skill issue"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
